<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATTENDANCE</title>
    <link rel="stylesheet" href="C:/Users/nelso/FaceRecognition_main/My_project/main/Upload Image/static/css/table.css" >
</head>
    <body>
        <div align="center">
            <table>
                <h1>
                <!--Displaying the converted table-->
                     {% for table in tables %}
                    <h2>{{titles[loop.index]}}</h2>                            
                    {{ table|safe }}
                    {% endfor %}     
                </h1> 
            </table>
        </div>
        <p align ="center" ><a href="predict" ><button class=grey style="height: 50px;width:150px">Back</button></a></p>
    </body>
</html>